<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>BTO Recommender System</title>

	<link rel="stylesheet" href="{{ url_for('static',filename='reset.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='style2.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='animate.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='jquery.dataTables.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='responsive.dataTables.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='bootstrap.min.css') }}">


	<link rel="stylesheet" href="{{ url_for('static',filename='font-awesome.min.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet">

	<link rel="stylesheet" href="{{ url_for('static',filename='materialize.min.css') }}">

        <script type="text/javascript" src="{{ url_for('static',filename='jquery-3.2.1.min.js') }}"></script>

	<script type="text/javascript" src="{{ url_for('static',filename='jquery.dataTables.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='dataTables.responsive.min.js') }}"></script>

	<script type="text/javascript" src="{{ url_for('static',filename='socket.io.min.js') }}"></script>
	<script src="{{ url_for('static',filename='materialize.min.js') }}"></script>

			<script type="text/javascript">
		namespace = '/';
		var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

		$.fn.extend({
			animateCss: function(animationName, callback) {
				var animationEnd = (function(el) {
					var animations = {
						animation: 'animationend',
						OAnimation: 'oAnimationEnd',
						MozAnimation: 'mozAnimationEnd',
						WebkitAnimation: 'webkitAnimationEnd',
					};

					for (var t in animations) {
						if (el.style[t] !== undefined) {
							return animations[t];
						}
					}
				})(document.createElement('div'));

				this.addClass('animated ' + animationName).one(animationEnd, function() {
					$(this).removeClass('animated ' + animationName);

					if (typeof callback === 'function') callback();
				});

				return this;
			},
		});

		var animIn = 'fadeIn';
		var animOut = 'fadeOut';

		function sendAnswer() {
			// var ans = $('#answer').val();
			var ans = $("input[name='answer']:checked").val();
			socket.emit('answer', {data: ans});
			$("#preloader").removeClass("hide");
			$("#qn").remove();

		}


		function formatHtml(text) {
			return text.replace(/\n/g, "<br>");
		}

		function range(lowEnd,highEnd){
			var arr = [],
			c = highEnd - lowEnd + 1;
			while ( c-- ) {
				arr[c] = highEnd--
			}
			return arr;
		}

		function refreshSession() {
			$("#space").empty();

		}

		$(document).ready(function() {
			var winHeight = $(window).height();
			var spaceHeight = winHeight * 0.9;
			var spaceOffset = winHeight * 0.05;

			refreshSession(); // for when browser refreshes

			socket.on('connect', function() {
				console.log("connected")
				// socket.emit('my_event', {data: 'I\'m connected!'});
				refreshSession(); // for when server restarts
			});

			socket.on('debug', function(msg) {
				console.log(msg);
			});

			socket.on('alert', function(msg) {
				console.log(msg);
				var alert = $("<div/>", {
					"class": "alert",
					"html": formatHtml(msg.data),
				});
				alert.appendTo("#space");
				alert.addClass("animated " + animIn);
				// $('#log').append('<br>' + $('<div/>').text('Received #' + msg.count + ': ' + msg.data).html());
			});

			socket.on('prompt2', function(msg) {
				$("#preloader").addClass("hide");
				console.log(msg)
				// var inputs = "<input type='text' id='answer' placeholder='your response' required />";
				var inputs = "";
				for (var i = 0; i < msg.options.length; i++) {
					inputs += "<p><input type='radio' name='answer' id='radio-"+msg.options[i][0]+"' value='"+msg.options[i][0]+"' required /><label for='radio-"+msg.options[i][0]+"'>"+msg.options[i][1]+"</label><br></p>";
				}
				var question = $("<div/>", {
					"id": "qn",
					"html": "<div class='wrapper'><form onsubmit='sendAnswer(); return false;'><label class='question'>" + formatHtml(msg.data) + "</label>" + inputs + "<input type='submit' class='btn btn-secondary btn-round waves-effect waves-light' value='Submit' /></form></div>",
				});
				question.appendTo("#space");
				question.animateCss(animIn, function() {
					$("#answer").focus();
				});
			});

			socket.on('prompt', function(msg) {
				console.log(msg)
				// var inputs = "<input type='text' id='answer' placeholder='your response' required />";
				var inputs = "";
				for (var i = 0; i < msg.options.length; i++) {
					inputs += "<label><input type='radio' name='answer' value='"+msg.options[i][0]+"' required>"+msg.options[i][1]+"</label><br>";
				}
				var question = $("<div/>", {
					"id": "qn",
					"html": "<div class='wrapper'><form onsubmit='sendAnswer(); return false;'><label class='question'>" + formatHtml(msg.data) + "</label>" + inputs + "<input type='submit' class='btn btn-primary' value='Submit' /></form></div>",
				});
				question.appendTo("#space");
				question.animateCss(animIn, function() {
					$("#answer").focus();
				});
			});

			socket.on('show_table', function(data) {
				$("#preloader").addClass("hide");
				console.log(data);
				var table_name = data.table_name;
				var columns = data.columns;
				var table = $("<table/>", {
					"id": table_name,
				});
				table.appendTo("#space");
				table.addClass("animated " + animIn);
				if (table_name == "resultTable") {
					var columnsOpt = [
						{ title: "Project" },
						{ title: "Address" },
						{ title: "Block" },
						{ title: "Level" },
						{ title: "Unit" },
						{ title: "Price" },
						{ title: "Room Type" },
						{ title: "Direction" },
						{ title: "Floor Area" },
						{ title: "Completion Date" }
					];
				} else {
					var colWidth = Math.floor(100 / columns.length) + "%";
					var columnsOpt = $.map(columns, function(col) { return {"title": col, "width": colWidth}; });
				}
				var dtOptions = {
					"data": data.data,
					"columns": columnsOpt,
					"ordering": false,
					"paging": false,
					"searching": false,
					"lengthChange": false,
					"info": false,
					"responsive": true,
					"bAutoWidth": false
				};
				if (table_name == "resultTable") {
					dtOptions["columnDefs"] = [{
						"targets": [5],
						"render": function ( cellData, type, row, meta ) {
							return "$"+cellData.toLocaleString();
						}
					}]
				} else if (table_name == "visTable") {
					dtOptions["columnDefs"] = [{
						"targets": range(1, columns.length-1),
						"createdCell": function (td, cellData, rowData, row, col) {
							if (cellData == -1) {
								$(td).addClass('unitNonexistent');
							} else if (cellData >= 0) {
								$(td).addClass('unitAvailable');
							} else if (cellData < 0) {
								$(td).addClass('unitBooked');
							}
						},
						"render": function ( cellData, type, row, meta ) {
							if (cellData == -1) {
								return "No such unit";
							} else {
								return "$"+Math.abs(cellData).toLocaleString();
							}
						}
					}]
				}
				$('#'+table_name).DataTable(dtOptions);
			});

			socket.on('show_reset_button', function(msg) {
				var resetButton = $("<div/>", {
					"class": "linkButton",
					"html": "<button id='restartButt' class='btn btn-primary' onclick='location.reload();'>Try Again</button>",
				});
				resetButton.appendTo("#space");
				resetButton.animateCss(animIn, function() {
				});
			});

		});
	</script>
</head>


<body>

<div id="container" class="container">
<div class="row">
	<div id="top-frame" class="col s12 m6">
		<img id="top-image" src="{{ url_for('static',filename='house.jpg') }}" alt="">
	</div>
</div>
<div class="row">
	<div class="col s12 m6">
          <div class="card blue-grey lighten-1">
<div id="preloader" class="progress hide">
      <div class="indeterminate"></div>
  </div>
            <div class="card-content white-text">
              <div id="header" class="card-title alert">HDB BTO Questionaire</div>
              {% if false %}
	<p>Async mode is: <b>{{ async_mode }}</b></p>
	{% endif %}
	<div id="space">
	</div>
            </div>

          </div>
        </div>

</div>
</div>


</body>
</html>
