body, #container {
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}

strong, b {
	font-weight: bold;
}

.center {
	text-align: center;
}

#space {
	background-color: rgba(0, 0, 0, 0.7);
	box-sizing: border-box;
	width: 90%;
	height: 400px;
	margin: 5% auto 0;
	padding: 30px;
	border-radius: 25px;
	overflow: auto;
}

#header {
	text-align: center;
	font-size: 2.75rem;
}

.alert, #qn, .btn {
	font-size: 1.25rem;
}

.alert, #qn {
	color: white;
	margin-bottom: 20px;
}

#qn {
	position: relative;
}

#qn .wrapper {
	position: absolute;
}

.btn {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	border-radius: .25rem;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	vertical-align: middle;
	padding: .1rem 1rem;
	margin-top: 1rem;
}

.btn-primary {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}

label.question {
	display: block;
	margin-bottom: 10px;
}

input[type=text] {
}

input[type=submit] {
}

table.dataTable thead th {
	color: white;
}

table.dataTable#resultTable tbody tr, table.dataTable#visTable tbody tr {
	color: white;
	background: none;
	text-align: center;
}

table#resultTable {
	margin-bottom: 1em;
}

.unitAvailable {
	color: rgb(0, 255, 0);
}

.unitBooked {
	color: red;
}

.unitNonexistent {
	color: gray;
}

div.linkButton {
	text-align: center;
}

div.linkButton button {
	cursor: pointer;
}
